.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 40px;
  border-bottom: 1px solid #545454;
}

.header__logo {
  width: 173px;
  height: 33px;
}
