.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 40px;
  border-bottom: 1px solid #545454;
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 600px) {
  .header {
    padding-top: 28px;
  }

  .header__logo {
    width: 126px;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 48px 0 36px;
  }

  .footer__text {
    font-size: 14px;
    text-align: center;
  }
}
